/* ================= FOOTER ================= */

.footer {
    background: #111;
    color: white;

    padding: 50px 20px;
}

/* CONTAINER */
.footer-container {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 30px;
}

/* BOX */
.footer-box h3 {
    margin-bottom: 15px;
    color: #1FAF6A;
}

.footer-box p,
.footer-box a {
    font-size: 14px;
    color: #ccc;
    display: block;

    margin-bottom: 8px;

    text-decoration: none;
}

.footer-box a:hover {
    color: #1FAF6A;
}

/* BOTTOM */
.footer-bottom {
    text-align: center;
    margin-top: 30px;

    border-top: 1px solid #333;
    padding-top: 15px;

    font-size: 13px;
    color: #888;
}